body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: white; 
    padding: 20px;
}



form {
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
}

input {
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    border: 1px solid #000000; 
}


button {
    background-color: #0b581d; 
    color: white;
    cursor: pointer;
}



table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #ffffff;
}

th {
    background-color: #000000;
}

td {
    background-color: #000000; 
}

button.delete-btn {
    background-color: red; 
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

button.edit-btn {
    background-color: yellow; 
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

